<%- include('./layout/header.ejs') %>
<div class="formWrapper">
  <form class="resForm" method="POST" action="/">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="First Partner"
        name="firstPartner"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Second Partner"
        name="secondPartner"
      />
    </div>
    <button type="submit" class="btn btn-primary">Get Results!</button>
  </form>
</div>
<% if (locals.resultData) { %>
<div class="resultDataTable">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>First Partner</th>
        <th>Second Partner</th>
        <th>Percentage</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="resCell"><%= resultData.fname %></td>
        <td class="resCell"><%= resultData.sname %></td>
        <td class="resCell"><%= resultData.percentage %></td>
        <td><%= resultData.result %></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="resultDataTableM">
  <table class="table table-dark">
    <tbody>
      <tr>
        <th>First Partner</th>
        <td class=""><%= resultData.fname %></td>
        <th>Second Partner</th>
        <td class=""><%= resultData.sname %></td>
        <th>Percentage</th>
        <td class=""><%= resultData.percentage %></td>
        <th>Result</th>
        <td><%= resultData.result %></td>
      </tr>
      <tr>
        
        
        
        
      </tr>
    </tbody>
  </table>
</div>

<% } %> 
<%- include('./layout/footer.ejs') %>
